$accent-color: #006aff;
$dark: #141516;
$light: #ffffff;
$gray: #f7f9fa;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&display=swap");

$main-font: "Mulish", sans-serif;
